---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Note2 from '~/components/widgets/Note2.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';

import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata1 = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata1}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Try Now!',
        href: 'https://research-assistant-green.vercel.app/',
        target: '_blank',
        icon: 'tabler:rocket',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Unleashing the Power of <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> AI for Law</span> Professionals
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Intellify.</span> The future of legal innovation is here.
        Harness AI-driven insights, automation, and predictive analytics
        to transform your legal workflows and decision-making</span
      >
      
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Intellify?"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Legal Research & Analysis',
        description:
          'Intellify AI model is trained on a vast database of legal judgments, books, research papers, and articles.It can quickly analyze complex legal prompts, break them down into smaller tasks, and provide comprehensive research insights.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Law GPT',
        description:
          'Intellify Offers comprehensive legal research by training its AI on extensive legal data, functioning as a mini AGI that efficiently processes complex prompts without hallucinations.',
        icon: 'tabler:components',
      },
      {
        title: 'Trademark/IP Protection',
        description:
          'Intellify Utilize AI for trademark/IP protection by automating searches, monitoring infringements, and ensuring robust IP management.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Marketplace for Lawyers',
        description:
          'Lawyers will get access to list themselves on our website. A normal citizen can choose their lawyer according to his/her needs',
        icon: 'tabler:rocket',
      },
      {
        title: 'Intelligent Contract Drafting',
        description:
          "Intellify can assist in drafting and reviewing legal contracts.It suggests relevant clauses, identifies potential risks, and ensures compliance with legal standards and best practices.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Transliteration',
        description:
          'Intellify transliteration capabilities to facilitate cross-border transactions and maintain accuracy in legal documents.Its AI model can standardize legal terms, transliterate documents across multiple languages, and make legal information accessible globally.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside Product"
    title="Why choose Intellify?"
    items={[
      {
        title: 'Cost and Time Efficiency',
        description:
          'By automating routine legal tasks, such as legal research, document review, and contract analysis, Intellify significantly reduces the time and resources required. This translates into substantial cost savings for your organization.',
      },
      {
        title: 'Data-Driven Insights',
        description:
          'Intellify analyzes vast legal data to uncover patterns, trends, and insights.These data-driven insights empower your legal professionals to make informed decisions, mitigate risks, and gain a competitive advantage in complex legal matters.',
      },
      {
        title: 'Streamlined Legal Processes and Increased Efficiency',
        description:
          'From intelligent contract drafting to comprehensive IP protection, Intellify streamlines legal workflows, allowing your team to focus on high-value, strategic work.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Get the amazing Intellify up and running in no time."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Use Free version</span>',
        description:
          "Start your journey with LegalBrain by taking advantage of our free trial. Explore our cutting-edge AI solutions, from intelligent legal research to automated drafting, without any commitment. Experience firsthand how our AI can revolutionize your legal practice.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Get in Touch With us</em>',
        description:
          "Interested in taking your legal operations to the next level? Get in touch with our experts to discuss your specific needs and budget. We'll provide personalized recommendations and pricing options tailored to your requirements, ensuring you get the most value from LegalBrain's AI solutions.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Integrate your data with us</span>',
        description:
          'Unlock the full potential of Intellify AI by seamlessly integrating your existing legal data and systems. Our advanced integration capabilities ensure a smooth transition, allowing you to leverage the power of our AI solutions without disrupting your workflows. Connect your data and experience unparalleled efficiency.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->
    <Note2 />
  
    <HeroText
      tagline="Pricing"
      title="Stellar Pricing for Everyone"
      subtitle="Choose the perfect plan that aligns with your legal goals."
    />
  
    <!-- Pricing Widget ******************* -->
  
    <Prices
      title="Our prices"
      subtitle="Only pay for what you need"
      prices={[
        {
          title: 'Individual',
          subtitle: 'Optimal choice for personal use',
          price: 30000,
          period: 'per year',
          items: [
            {
              description: 'Chat With Docs',
            },
            {
              description: 'Drafting',
            },
            {
              description: 'Transliteration',
            },
          ],
          callToAction: {
            target: '_blank',
            text: 'Get started',
            href: '#',
          },
        },
        {
          title: 'Premium',
          subtitle: 'Optimal choice for small/large firms',
          price: 45000,
          period: 'Per year',
          items: [
            {
              description: 'Chat With Docs',
            },
            {
              description: 'Drafting',
            },
            {
              description: 'Transliteration',
            },
            {
              description: 'LawGPT',
            },
            
          ],
          callToAction: {
            target: '_blank',
            text: 'Get started',
            href: '#',
          },
          hasRibbon: true,
          ribbonTitle: 'popular',
        },
        {
          title: 'Platinum',
          subtitle: 'Optimal choice for large firms',
          price: 60000,
          period: 'Per year',
          items: [
            {
              description: 'Drafting',
            },
            {
              description: 'Chat With Docs',
            },
            {
              description: 'Transliteration',
            },
            {
              description: 'LawGPT',
            },
            {
              description: 'IP/Trademark Protection',
            },
            {
              description: 'Litigation',
            },
          ],
          callToAction: {
            target: '_blank',
            text: 'Get started',
            href: '#',
          },
        },
      ]}
    />
  
    <!-- Features3 Widget ************** -->
  
    <Features3
      title="Price-related features"
      subtitle="Discover the advantages of choosing our plans"
      columns={2}
      items={[
        {
          title: 'Tiered Pricing Plans',
          description: 'Choose from a range of pricing plans designed to accommodate different budgets and requirements.',
          icon: 'tabler:stairs',
        },
        {
          title: 'Transparent Pricing',
          description: 'Clearly displayed pricing details for each plan, with no hidden costs or unexpected charges.',
          icon: 'tabler:flip-vertical',
        },
        {
          title: 'Secure Payment Methods',
          description: 'Secure payment gateways to protect your financial information during transactions.',
          icon: 'tabler:shield-lock',
        },
        {
          title: 'Instant Access',
          description: `Immediate access to your chosen plan's features and templates upon subscription.`,
          icon: 'tabler:accessible',
        },
        {
          title: 'Upgrade Value',
          description: 'Upgrade to higher-tier plans to unlock more features and benefits for an enhanced experience.',
          icon: 'tabler:chevrons-up',
        },
        {
          title: '24H support',
          description: 'Questions answered via live chat, email or phone, every calendar day.',
          icon: 'tabler:headset',
        },
      ]}
      classes={{ container: 'max-w-5xl' }}
    />
  
    <!-- Steps Widget ****************** -->
  
    <Steps
      title="A guided journey from plans to creativity"
      tagline="simplified process"
      isReversed={true}
      items={[
        {
          title: 'Explore plans',
          icon: 'tabler:number-1',
        },
        {
          title: 'Select a plan',
          icon: 'tabler:number-2',
        },
        {
          title: 'Sign Up / Log In',
          icon: 'tabler:number-3',
        },
        {
          title: 'Review order',
          icon: 'tabler:number-4',
        },
        {
          title: 'Enter payment details',
          icon: 'tabler:number-5',
        },
        {
          title: 'Confirmation',
          icon: 'tabler:number-6',
        },
        {
          title: 'Download and start using our AI Tools',
          icon: 'tabler:number-7',
        },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1536816579748-4ecb3f03d72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
        alt: 'Steps image',
      }}
    />
  
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display latest and the gratest happening every time
     in the world of everything legal. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What types of legal tasks can Intellify AI handle?',
        description:
          "Intellify's AI is designed to assist with a wide range of legal tasks, including legal research, contract drafting and review, intellectual property (IP) protection, litigation support, and data analysis. Our AI models are trained on vast legal data, enabling them to provide comprehensive insights and support across various legal domains..",
      },
      {
        title: 'How does Intellify ensure data security and confidentiality?',
        description:
          "At Intellify, we prioritize data security and confidentiality. Our platform employs state-of-the-art encryption techniques and follows industry-standard security protocols to protect our clients' sensitive data. Additionally, we offer secure cloud storage options, and clients have the ability to delete their data from our systems at any time.",
      },
      {
        title: "Can Intellify's AI solutions be customized to meet specific needs?",
        description:
          "Absolutely. We understand that every legal organization has unique requirements and workflows. That's why LegalBrain offers customizable AI solutions that can be tailored to meet your specific needs. Our team of experts will work closely with you to understand your requirements and configure our AI models and features accordingly",
      },
      {
        title: "How much training or expertise is required to use Intellify's AI tools?",
        description:
          "One of the key advantages of Intellify's AI solutions is their user-friendly interface and intuitive design. Our AI tools are designed to be accessible to legal professionals with varying levels of technical expertise. While some training may be beneficial for advanced features, our AI models can be easily integrated into existing workflows without extensive training requirements.",
      },
      
    ]}
  />

  
</Layout>
